{% extends 'catalog/base.html' %}
{% block content %}
<div class="row d-flex justify-content-center">
    <div class="col-6">
        <h1 class="mt-1">Добавить статью</h1>
        <!-- Форма создания статьи -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.title.label_tag }} {{ form.title }}
            </div>
            <div class="mb-3">
                {{ form.body.label_tag }} {{ form.body }}
            </div>
            <div class="mb-3">
                {{ form.preview.label_tag }} {{ form.preview }}
            </div>
            <div class="mb-3">
                {{ form.is_published.label_tag }} {{ form.is_published }}
            </div>
            <button type="submit" class="btn btn-primary">
                {% if object %}
                Сохранить изменения
                {% else %}
                Добавить
                {% endif %}
            </button>
        </form>
    </div>
</div>
{% endblock %}