{% extends 'catalog/base.html' %}
{% load catalog_tags %}
{% block content %}
{% if user.is_authenticated %}
<div class="row">
    <div class="col-4 d-flex justify-content-center">
        <a class="p-2 btn btn-outline-primary mb-3" href="{% url 'catalog:create_product' %}">Добавить товар</a>
    </div>
</div>
{% endif %}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-3">
    {% for product in products %}
    <div class="col">
        <a class="image" href="{% url 'catalog:product_detail' product.pk %}">
            <img src="{{ product.preview | media_filter }}"
                 class="card-img-top"
                 alt="Product">
        </a>

        <div class="card-body">
            <a class="btn" href="{% url 'catalog:product_detail' product.pk %}">
                <h4 class="product-title text-bold my-3">{{ product.name }}</h4>
            </a>
            <p class="card-text description product-details">{{ product.description | truncatechars:100 }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="pricing-card-title text-bold">{{ product.price }} ₽</div>
                {% if product.active_version %}
                <span class="badge text-bg-info">{{product.active_version.name}}</span>
                {% endif %}
            </div>
        </div>
        <div class="card-footer">
            {% if perms.catalog.can_set_published or product.owner == user %}
                {% if product.is_published %}
                <span class="badge bg-success">Опубликован пользователем {{ product.owner }}</span>
                {% else %}
                <span class="badge bg-danger">Не опубликован, пользователь: {{ product.owner }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% if not products %}
    <p>Нет доступных продуктов</p>
    {% endif %}

</div>
{% include "catalog/includes/paginator.html" %}
{% endblock %}