{% extends 'catalog/base.html' %}
{% load catalog_tags %}
{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-3">
    {% for product in products %}
    <div class="col">
        <a class="image" href="{% url 'catalog:product_detail' product.pk %}">
            <img src="{{ product.preview | media_filter }}"
                 class="card-img-top"
                 alt="Product">
        </a>

        <div class="card-body">
            <a class="btn" href="{% url 'catalog:product_detail' product.pk %}">
                <h4 class="product-title text-bold my-3">{{ product.name }}</h4>
            </a>
            <p class="card-text description product-details">{{ product.description | truncatechars:100 }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="pricing-card-title text-bold">{{ product.price }} ₽</div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if products.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="First">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">Пред.</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">&laquo;</span>
        </li>
        <li class="page-item disabled">
            <span class="page-link">Пред.</span>
        </li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link">
                {{ products.number }} из {{ products.paginator.num_pages }}
            </span>
        </li>

        {% if products.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">След.</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ products.paginator.num_pages }}" aria-label="Last">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">След.</span>
        </li>
        <li class="page-item disabled">
            <span class="page-link">&raquo;</span>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}