{% extends 'catalog/base.html' %}
{% block content %}
{% load django_bootstrap5 %}
<div class="row d-flex justify-content-center">
    <div class="col-6">
        {% if object %}
        <h1 class="mt-1">Изменить товар</h1>
        {% else %}
        <h1 class="mt-1">Создать новый товар</h1>
        {% endif %}
    </div>
</div>
<!-- Форма создания и изменения товара -->

<div class="col-12">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary">
                            {% if object %}
                            Сохранить изменения
                            {% else %}
                            Добавить товар
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        {{ formset.management_form }}
                        {% bootstrap_formset_errors formset layout='inline' %}
                        {% for form in formset.forms %}
                            {% bootstrap_form form %}
                            {% if not forloop.last %}
                                <hr>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}